body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #e0f7fa, #ffffff);
    color: #222;
}

header {
    text-align: center;
    background-color: #00796b;
    color: white;
    padding: 20px 10px;
}

.directory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,1);
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: tranform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.call-btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #00796b;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 8px;
    transition: background color 0.3s;
}

.call-btn:hover {
    background-color: #004d40;
}

@media (max-width: 600px) {
    .directory {
        flex-direction: column;
        align-items: center;
    }
    
}

.card {
    width: 90%;
}